# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
*.lcov

# Production
/dist
/dist-ssr
/build

# Misc
*.local
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE & Editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode-test

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Swap files
*.sw?
*.swp
*.swo
*~

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
